.notes_root{
    /*background: gray;*/
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
}

.addTab{
    /*position: absolute;*/
    /*bottom:0;*/
    font-size: x-large;
    cursor: pointer;
    /* margin-right: 0.5rem; */
    /* margin-left: 0.5rem; */
    /* padding-left: 0.5rem; */
    /* padding-right: 0.5rem; */
    min-width: 2rem;
    /* min-height: 1.5rem; */
    /* max-height: 1.5rem; */
    display:  inline-block;
    /* height: 1rem; */
    /* box-sizing:  border-box; */
    flex: 0;
    /* width: 1rem; */
    border-bottom: 2px solid transparent;
}

.notes_tabs_nav{
    border-right: 1px solid rgba(0,0,0,0.175);
    min-height: 2.5rem;
    box-sizing: border-box;
    /* line-height: 1.5rem; */
    /* box-sizing:  border-box; */
    /* display: flex; */
    width: 10rem;
    /* height: 100%; */
    flex: 1;
    overflow-y: auto;
    background: rgba(0,0,0,0.01);
    direction: rtl;
    margin: 0;
    padding: 0;
}

.notes_tabs{
    /* display: inline-block; */
    /* top: 1px; */
    /* position: relative; */
    /* flex: 1; */
    min-height: 1.5rem;
    box-sizing:  border-box;
    /* padding: 0.25rem; */
    overflow-x:  hidden;
}

.notes_tab{
    /* background: cornflowerblue; */
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    /* margin-left: 0.25rem; */
    /* margin-right: 0.25rem; */
    box-sizing: border-box;
    color: rgba(0,0,0,0.175);
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    text-align:  left;
    vertical-align:  text-top;
    padding-left: 0.4rem;
    border-left: 2px solid transparent;
    outline:  none;
    direction:ltr;
}

.notes_tab:hover{
    color: #444;
}

.notes_tab_active{
    border-left: 2px solid #F36223;
    color: #444;
    cursor: default;
    background:  white;
    /* padding-left: 0.4rem; */
    border-bottom, border-top: 1px solid lightgray;
    border-bottom:  1px solid lightgray;
    border-top: 1px solid lightgray;
}

/*.notes_tab_active:after{*/
    /*border: 20px solid transparent;	border-right: 20px solid green;*/
/*}*/

.notes_tab_editing{
    min-width: 4rem;
    outline: none;
}

.note_text{
    width: 100%;
    height: 100%;
    /*     background:  red; */
    flex: 5;
    padding:0.5rem;
    box-sizing:border-box;
    overflow-y:  auto;
}

.note_editor{
    width: 100%;
    height: 100%;
    /*     background:  red; */
    flex: 2;
    outline:none;
    overflow-y:  auto;
    word-break: break-word;
}
