.threads_root{
/*     background: gray; */
    width: 100%;
    height: 100%;
    /*display: flex;*/
    flex-direction: column;
}

.threads_conteiner{
    width: 100%;
    height: 100%;
    /*calc(100% - 2.5rem);*/
    outline:none;
    display:flex;
    padding: 0.5rem;
    box-sizing:  border-box;
}

.threads_header{
    /*flex: 0;*/
    width: 100%;
    height: 2.5rem;
    display: flex;
}

.threads_forums{
    width:100%;
    overflow-y: auto;

}


.threads_forum_title{
    display:inline-block;
}

.threads_forum_buttons{
    display:inline-block;
/*     position:relative; */
/*     left:10px; */
}


.threads_forum{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:calc(100%);
    /*     margin-bottom: 0.5rem; */
    line-height:2rem;
    height:2rem;
    padding-left: 1.5rem;
    box-sizing:  border-box;
}

.threads_forum:hover{
    background:rgba(0,0,0,0.07);
}

.threads_forum_root{
    padding-left:0.5rem;
}
