@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i&subset=cyrillic');

html, input, button, textarea, select, .msg{
    font-family:Roboto,Tahoma,Helvetica,Arial;
}

body{
    background:rgba(158, 163, 176, 0.01);
}

.header{
    background:rgba(158, 163, 176, 0.1);
}

.msg{
    padding-bottom: 0.3rem;
    display: block;
}
.main{}

.bttn:hover{background:transparent;}

.time{font-weight: 300;}

.top_header {
    background: #444;
    color: white;
    display: block;
}

.top_link {
    color: white;
}

.top_link:hover {
    color: lightgray;
}
